/**/
/* defaults */
/**/
.form header {
	display: block;
	padding: 20px 30px;	
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
	font-size: 25px;
	font-weight: 300;
	color: #232323;
}
.form fieldset {
    display: block;
    margin: 20px -5px -5px;
    padding: 20px 5px 5px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.form fieldset:first-element {
	border-top: none;
	margin-top: none;
}
.form section {
	margin-bottom: 20px;
}
.form footer {
	display: block;
	padding: 15px 30px 25px;
	border-top: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
}
.form footer:after {
	content: '';
	display: table;
	clear: both;
}
.form a {
	color: #4486c6;
}
.form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.form .label.col {
	margin: 0;
	padding-top: 10px;
}
.form .note {
	margin-top: 6px;
	padding: 0 1px;
	font-size: 11px;
	line-height: 15px;
	color: #999;
}
.form .input,
.form .select,
.form .textarea,
.form .radio,
.form .checkbox,
.form .toggle,
.form .button {
	position: relative;
	display: block;
}
.form .input input,
.form .select select,
.form .textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 8px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
}


/**/
/* file inputs */
/**/
.form .input-file .button {
	outline: none;
	border: 0;
	position: absolute;
	top: 4px;
	right: 4px;
	float: none;
	height: 31px;
	margin: 0;
	padding: 0 20px;
	line-height: 31px;
	cursor: normal;
}
.form .input-file .button input {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	font-size: 30px;
	opacity: 0;
	height: 100%;
}


/**/
/* selects */
/**/
.form .select i {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 28px;
    height: 36px;
    pointer-events: none;
}
.form .select i:after,
.form .select i:before {
	content: '';
	position: absolute;
	right: 10px;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.form .select i:after {
    bottom: 12px;
    border-top: 4px solid #404040;
}
.form .select i:before {
	top: 12px;
    border-bottom: 4px solid #404040;
}
.form .select select {
    padding-right: 28px;
}
.form .select-multiple select {
	height: auto;
}


/**/
/* textareas */
/**/
.form .textarea textarea {
	height: auto;
	resize: vertical;
}
.form .textarea-resizable textarea {
	resize: vertical;	
}
.form .textarea-expandable textarea {
	height: 39px;
}
.form .textarea-expandable textarea:focus {
	height: auto;
}


/**/
/* radios and checkboxes */
/**/
.form .radio,
.form .checkbox {
	padding-left: 24px;
	font-size: 15px;
	line-height: 27px;
	color: #404040;
	cursor: pointer;
}
.form .radio .small-info,
.form .checkbox .small-info {
	margin-bottom: 7px;
	display: inline-block;
}
.form .radio:last-child .small-info,
.form .checkbox:last-child .small-info {
	margin-bottom: 0;
}
.form .radio .small-info,
.form .checkbox .small-info {
	line-height: 10px;
}
.form .radio input,
.form .checkbox input {
	position: absolute;
	left: -9999px;
}
.form .radio i,
.form .checkbox i {
	position: absolute;
	top: 4px;
	left: 0;
	display: block;
	width: 17px;
	height: 17px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	background: #fff;
}

.form .radio.description,
.form .checkbox.description {
	line-height: 1.6rem;
	margin-top: 2px;
}
.form .radio.description i,
.form .checkbox.description i {
	top: 8px;
}
.form .radio i {
	border-radius: 50%;
}
.form .radio input + i:after,
.form .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.form .radio input + i:after {
	content: '';
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.form .checkbox input + i:after {
	content: '\f00c';
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.form .radio input:checked + i:after,
.form .checkbox input:checked + i:after {
	opacity: 1;
}
.form .inline-group {
	margin: 0 -30px -4px 0;
}
.form .inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.form .inline-group .radio,
.form .inline-group .checkbox {
	float: left;
	margin-right: 30px;
}
.form .inline-group .radio:last-child,
.form .inline-group .checkbox:last-child {
	margin-bottom: 4px;
}


/**/
/* toggles */
/**/
.form .toggle {
	margin-bottom: 4px;
	padding-right: 61px;
	font-size: 15px;
	line-height: 27px;
	color: #404040;
	cursor: pointer;
}
.form .toggle:last-child {
	margin-bottom: 0;
}
.form .toggle input {
	position: absolute;
	left: -9999px;
}
.form .toggle i {
	content: '';
	position: absolute;
	top: 4px;
	right: 0;
	display: block;
	width: 49px;
	height: 17px;
	border-width: 2px;
	border-style: solid;
	border-radius: 12px;
	background: #fff;
}
.form .toggle i:after {
	content: 'OFF';
	position: absolute;
	top: 2px;
	right: 8px;
	left: 8px;
	font-style: normal;
	font-size: 9px;
	line-height: 13px;
	font-weight: 700;
	text-align: left;
	color: #5f5f5f;
}
.form .toggle i:before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 4px;
	right: 4px;
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	opacity: 1;
	transition: right 0.2s;
	-o-transition: right 0.2s;
	-ms-transition: right 0.2s;
	-moz-transition: right 0.2s;
	-webkit-transition: right 0.2s;
}
.form .toggle input:checked + i:after {
	content: 'ON';
	text-align: right;
}
.form .toggle input:checked + i:before {
	right: 36px;
}


/**/
/* ratings */
/**/
.form .rating {
	margin-bottom: 4px;
	font-size: 15px;
	line-height: 27px;
	color: #404040;
}
.form .rating:last-child {
	margin-bottom: 0;
}
.form .rating input {
	position: absolute;
	left: -9999px;
}
.form .rating label {
	display: block;
	float: right;
	height: 17px;
	margin-top: 5px;
	padding: 0 2px;
	font-size: 17px;
	line-height: 17px;
	cursor: pointer;
}


/**/
/* icons */
/**/
.form [class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.form .icon-append,
.form .icon-prepend {
	position: absolute;
	top: 5px;
	width: 29px;
	height: 29px;
	font-size: 15px;
	line-height: 29px;
	text-align: center;
}
.form .icon-append {
	right: 5px;
	padding-left: 3px;
	border-left-width: 1px;
	border-left-style: solid;
}
.form .icon-prepend {
	left: 5px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-style: solid;
}
.form .input .icon-prepend + input,
.form .textarea .icon-prepend + textarea {
	padding-left: 46px;
}
.form .input .icon-append + input,
.form .textarea .icon-append + textarea {
	padding-right: 46px;
}
.form .input .icon-prepend + .icon-append + input,
.form .textarea .icon-prepend + .icon-append + textarea {
	padding-left: 46px;
}




/**/
/* tooltips */
/**/
.form .tooltip {
	position: absolute;
	z-index: 1;
	left: -9999px;
	padding: 2px 8px 3px;
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	background: rgba(0,0,0,0.9);
	color: #fff;
	opacity: 0;
	transition: margin 0.3s, opacity 0.3s;
	-o-transition: margin 0.3s, opacity 0.3s;
	-ms-transition: margin 0.3s, opacity 0.3s;
	-moz-transition: margin 0.3s, opacity 0.3s;
	-webkit-transition: margin 0.3s, opacity 0.3s;
}
.form .tooltip:after {
	content: '';
	position: absolute;
}
.form .input input:focus + .tooltip,
.form .textarea textarea:focus + .tooltip {
	opacity: 1;	
}

.form .tooltip-top-right {
	bottom: 100%;
	margin-bottom: 15px;
}
.form .tooltip-top-right:after {
	top: 100%;
	right: 16px;	
	border-top: 4px solid rgba(0,0,0,0.9);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.form .input input:focus + .tooltip-top-right,
.form .textarea textarea:focus + .tooltip-top-right {
	right: 0;
	left: auto;
	margin-bottom: 5px;
}

.form .tooltip-top-left {
	bottom: 100%;
	margin-bottom: 15px;
}
.form .tooltip-top-left:after {
	top: 100%;
	left: 16px;
	border-top: 4px solid rgba(0,0,0,0.9);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.form .input input:focus + .tooltip-top-left,
.form .textarea textarea:focus + .tooltip-top-left {
	right: auto;
	left: 0;
	margin-bottom: 5px;
}

.form .tooltip-right {
	top: 9px;
	white-space: nowrap;
	margin-left: 15px;
}
.form .tooltip-right:after {
	top: 6px;
	right: 100%;
	border-top: 4px solid transparent;
	border-right: 4px solid rgba(0,0,0,0.9);
	border-bottom: 4px solid transparent;
}
.form .input input:focus + .tooltip-right,
.form .textarea textarea:focus + .tooltip-right {
	left: 100%;
	margin-left: 5px;
}

.form .tooltip-left {
	top: 9px;
	white-space: nowrap;
	margin-right: 15px;
}
.form .tooltip-left:after {
	top: 6px;
	left: 100%;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid rgba(0,0,0,0.9);
}
.form .input input:focus + .tooltip-left,
.form .textarea textarea:focus + .tooltip-left {
	right: 100%;
	left: auto;
	margin-right: 5px;
}

.form .tooltip-bottom-right {
	top: 100%;
	margin-top: 15px;
}
.form .tooltip-bottom-right:after {
	bottom: 100%;
	right: 16px;	
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(0,0,0,0.9);
	border-left: 4px solid transparent;
}
.form .input input:focus + .tooltip-bottom-right,
.form .textarea textarea:focus + .tooltip-bottom-right {
	right: 0;
	left: auto;
	margin-top: 5px;
}

.form .tooltip-bottom-left {
	top: 100%;
	margin-top: 15px;
}
.form .tooltip-bottom-left:after {
	bottom: 100%;
	left: 16px;
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(0,0,0,0.9);
	border-left: 4px solid transparent;
}
.form .input input:focus + .tooltip-bottom-left,
.form .textarea textarea:focus + .tooltip-bottom-left {
	right: auto;
	left: 0;
	margin-top: 5px;
}


/**/
/* normal state */
/**/
.form .input input,
.form .select select,
.form .textarea textarea,
.form .radio i,
.form .checkbox i,
.form .toggle i,
.form .icon-append,
.form .icon-prepend {
	border-color: #e3e3e6;
	transition: border-color 0.3s cubic-bezier(0.23,1,0.32,1);
	-o-transition: border-color 0.3s cubic-bezier(0.23,1,0.32,1);
	-ms-transition: border-color 0.3s cubic-bezier(0.23,1,0.32,1);
	-moz-transition: border-color 0.3s cubic-bezier(0.23,1,0.32,1);
	-webkit-transition: border-color 0.3s cubic-bezier(0.23,1,0.32,1);
}
.form .toggle i:before {
	background-color: #4486c6;	
}
.form .rating label {
	color: #ccc;
	transition: color 0.3s cubic-bezier(0.23,1,0.32,1);
	-o-transition: color 0.3s cubic-bezier(0.23,1,0.32,1);
	-ms-transition: color 0.3s cubic-bezier(0.23,1,0.32,1);
	-moz-transition: color 0.3s cubic-bezier(0.23,1,0.32,1);
	-webkit-transition: color 0.3s cubic-bezier(0.23,1,0.32,1);
}
.form .button {
	background-color: #4486c6;
	color: #fff;
}
.form .button.button-secondary {
	background-color: #b3b3b3;
}
.form .icon-append,
.form .icon-prepend {
	color: #cecfcf;
}

/**/
/* hover state */
/**/
.form .input:hover input,
.form .select:hover select,
.form .textarea:hover textarea,
.form .radio:hover i,
.form .checkbox:hover i,
.form .toggle:hover i {
	border-color: #699ed1;
}
.form .rating input + label:hover,
.form .rating input + label:hover ~ label {
	color: #4486c6;
}
.form .button:hover {
	opacity: 1;
}


/**/
/* focus state */
/**/
.form .input input:focus,
.form .select select:focus,
.form .textarea textarea:focus,
.form .radio input:focus + i,
.form .checkbox input:focus + i,
.form .toggle input:focus + i {
	border-color: #4486c6;
}

/**/
/* checked state */
/**/
.form .radio input + i:after {
	background-color: #4486c6;	
}
.form .checkbox input + i:after {
	color: #4486c6;
}
.form .radio input:checked + i,
.form .checkbox input:checked + i,
.form .toggle input:checked + i {
	border-color: #4486c6;	
}
.form .rating input:checked ~ label {
	color: #4486c6;	
}


/**/
/* error state */
/**/
.form .state-error input,
.form .state-error select,
.form .state-error textarea,
.form .radio.state-error i,
.form .checkbox.state-error i,
.form .toggle.state-error i {
	background: #fff0f0;
}
.form .state-error select + i {
	background: #fff0f0;
	box-shadow: 0 0 0 12px #fff0f0;
}
.form .toggle.state-error input:checked + i {
	background: #fff0f0;
}
.form .note-error {
	color: #ee9393;	
}


/**/
/* success state */
/**/
.form .state-success input,
.form .state-success select,
.form .state-success textarea,
.form .radio.state-success i,
.form .checkbox.state-success i,
.form .toggle.state-success i {
	background: #f0fff0;
}
.form .state-success select + i {
	background: #f0fff0;
	box-shadow: 0 0 0 12px #f0fff0;
}
.form .toggle.state-success input:checked + i {
	background: #f0fff0;
}
.form .note-success {
	color: #6fb679;
}


/**/
/* disabled state */
/**/
.form .input.state-disabled input,
.form .select.state-disabled,
.form .textarea.state-disabled,
.form .radio.state-disabled,
.form .checkbox.state-disabled,
.form .toggle.state-disabled,
.form .button.state-disabled {
	cursor: default;
	opacity: 0.5;
}
.form .input.state-disabled:hover input,
.form .select.state-disabled:hover select,
.form .textarea.state-disabled:hover textarea,
.form .radio.state-disabled:hover i,
.form .checkbox.state-disabled:hover i,
.form .toggle.state-disabled:hover i {
	border-color: #e3e3e6;
}